---
const coreValues = await fetch("https://raw.githubusercontent.com/sarameisner/frontend-design/main/resources/json/corevalues.json").then((res) => res.json());
import { Icon } from 'astro-icon/components';
const {values } = coreValues;

const { surface = 'primary', tag, heading, button, description } = Astro.props


---


<div data-surface={surface} class="core-values full">
    <div class="core-values-top">
        <div class="text"> 
            {tag && (
                <p class="tag">{tag}</p>
            )}
              {heading && (
                <h1>{heading}</h1>
            )}
                  {description && (
                    <p>{description}</p>
                )}
        </div>
        {button && (
            <a class="btn-secondary" href="#">{button}</a>
        )}
        
    </div>
   
  <ul class="full-width">
    {values.map((value) => (
      <li>
        <div class="icon-card">
          <Icon name={value.icon} />
        </div>
        <div class="text-card">
            <h6>{value.title}</h6>
            <p>{value.description}</p>
        </div>
        <div class="read-more">
            <a href={value.link.url}>{value.link.text} &rarr;</a>
        </div>
      </li>
    ))}
  </ul>
</div>

<style>
   @layer components {

    [data-surface="primary"] {
        --background-color: var(--primary-color-03); 
        --text-color: var(--secondary-color-02); 
        --corevalues-heading-color: var(--secondary-color-02); 
        --tag-color: var(--primary-color-03);
        li {
            --card-color: var(--secondary-color-01); 
            h6 {
                --heading-color-card: var(--secondary-color-02); 
            }
        }
    }

    [data-surface="secondary"] {
        --background-color: var(--secondary-color-01); 
        --corevalues-heading-color: var(--primary-color-03); 
        --tag-color: var(--primary-color-03); 
        li {
            --card-color: var(--secondary-color-02); 
        }
    }

    .text-card h6 {
        font-weight: 600;
        font-size: 20px;
    }

    .core-values {
        gap: 34px;
        display: grid;
        background: var(--background-color);
        color: var(--text-color);
        padding: 80px 60px;

        .core-values-top {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            .text {
                max-width: 60%;
                h1 {
                    font-weight: bold;
                    margin-bottom: 16px;
                    color: var(--corevalues-heading-color)!important;
                }

                .tag {
                    padding: 0px 15px;
                    background: var(--primary-color-01); 
                    display: inline-block;
                    border-radius: 20px;
                    margin-bottom: 16px;
                    color: var(--tag-color);
                }
            }
        }

        .full-width {
            margin: 0;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 30px;
            list-style: none;
            padding: 0;

            li {
                background: var(--card-color);
                padding: 36px 23px;
                border-radius: 20px;
                display: grid;
                gap: 22px;
                transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition for hover */

                p {
                    color: var(--primary-color-03); 
                }

                .icon-card {
                    width: 50px;
                }

                .read-more a {
                    font-size: 20px;
                    color: var(--primary-color-03); 
                    font-weight: 600;
                    text-decoration: none;
                }

                /* Hover Effekt */
                &:hover {
                    transform: translateY(-10px);
                    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }

    @media (max-width: 768px) {
        .core-values {
            padding: 30px 15px;
        }

        .full-width {
            grid-template-columns: 1fr; 
            row-gap: 20px;
        }

        .core-values-top .text {
            text-align: center;
        }

        .btn-secondary {
            width: 100%;
            text-align: center;
        }
    }
}

</style>