---
import EmployeeCard from "./EmployeeCard.astro"

const { data, tag, heading, button, description } = Astro.props
---

<section class="employeescontainer">
    <div class="top">
        <div class="text"> 
            {tag && (
                <p class="tag">{tag}</p>
            )}
              {heading && (
                <h1>{heading}</h1>
            )}
            {description && (
                <p>{description}</p>
            )}
        </div>
        {button && (
            <a class="btn-primary" href="#">{button}</a>
        )}
    </div>
    <section class="employees">
        {
            data.map(employee => <EmployeeCard employee={employee}/>)
        }
    </section>
</section>

<style>
@layer components {
    .employeescontainer {
        display: grid;
        gap: 2.5rem; 
        padding: 2rem; 

        .top {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            .text {
                max-width: 50%;

                h1 {
                    margin-bottom: 1rem; 
                    color: var(--primary-color-03); 
                }

                .tag {
                    padding: 0.5rem 1rem; 
                    background: var(--primary-color-01); 
                    display: inline-block;
                    border-radius: 20px;
                    margin-bottom: 1rem; 
                    color: var(--primary-color-03); 
                }

                p {
                    color: var(--primary-color-03); 
                }
            }
        }

        .btn-primary {
            padding: 0.75rem 1.5rem;
            background-color: var(--primary-color-01); 
            color: var(--primary-color-03); 
            border: none;
            border-radius: 1.25rem; 
            text-decoration: none;
            font-size: 1rem;
            font-weight: 600;
            transition: background-color 0.3s ease;
        }

        .btn-primary:hover {
            background-color: var(--primary-color-02); 
        }

        .employees {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            row-gap: 5rem; 
            column-gap: 3.125rem; 
        }
    }

   

    @media (max-width: 768px) {
        .employeescontainer {
            padding: 1.5rem;

            .employees {
                grid-template-columns: 1fr;
                row-gap: 3rem;
                column-gap: 1.5rem;
            }
        }
    }
  }
  
</style>